/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


.blog-container {
	margin-top: 77px;
	width: 1300px;

}

.blog-p{
	width: 1248px;
	margin-bottom: 50px;
}

.text-highlights {
	color: #FA970A;
	margin-right: 10px;
}