<!-- wp:custom-blocks/main-nav /-->

<!-- wp:custom-blocks/hero /-->

<!-- wp:heading {"level" : 2} -->
<h2 class="wp-block-heading key-head">Key Features</h2>
<!-- /wp:heading -->

<!-- wp:custom-blocks/key-features /-->

<!-- wp:heading {"level" : 2} -->
<h2 class="wp-block-heading key-head">Why Choose Us?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p class="p-settings">
	With cutting-edge technology, seamless integrations, and top-tier support, we
	provide the tools you need to optimize workflows, enhance collaboration, and
	drive growth. Whether you're a startup or an enterprise, our solution adapts
	to your needs—so you can focus on what matters most.
</p>
<!-- /wp:paragraph -->

<!-- wp:image -->
<figure class="wp-block-image home-img">
	<img src="https://picsum.photos/500/300" alt="random image" />
</figure>
<!-- /wp:image -->
