/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


.error-container {
	width: 1300px;
	display: flex;
	justify-content: space-between;
	gap: 182px;
}

.error-btn {
	width: 135px;
	height: 52px;
	border: none;
	background-color: #FA970A;
	border-radius: 100px;
	color: #FFFFFF;
}
